<?xml version="1.0"?>
<!--
 This file is part of the Magento 2 Shipping module of DPD Nederland B.V.

 Copyright (C) 2017  DPD Nederland B.V.

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dpdshipping>
            <account_settings>
                <print_format>A4</print_format>
            </account_settings>
        </dpdshipping>
        <carriers>
            <dpdpredict>
                <active>1</active>
				<rate_type>flat</rate_type>
                <sallowspecific>0</sallowspecific>
                <model>DPDBenelux\Shipping\Model\Carrier\Dpdpredict</model>
                <name>DPD Predict</name>
                <price>00.00</price>
                <title>DPD Predict</title>
                <type>I</type>
                <sort_order>0</sort_order>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </dpdpredict>
            <dpdpickup>
                <active>1</active>
				<rate_type>flat</rate_type>
                <sallowspecific>0</sallowspecific>
                <model>DPDBenelux\Shipping\Model\Carrier\Dpdpickup</model>
                <name>DPD Pickup</name>
                <price>00.00</price>
                <title>DPD Pickup</title>
                <map_width>600</map_width>
                <map_height>430</map_height>
                <map_max_shops>10</map_max_shops>
                <type>I</type>
                <sort_order>0</sort_order>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </dpdpickup>
        </carriers>
    </default>
</config>